<h1>Welcome to Tech Talent Store</h1>
<p>GIve us your money!!</p>

<div class="row">
	<% @products.each do |product| %>
	<div class="col-sm-6 col-md-4">
		<div class="well text-center">
			<% if product.image.nil? == false %>
			<p><%= image_tag product.image, size: 250 %></p>
				<% end %>
				<h3><%= link_to product.name, product %></h3>
				<p><%= number_to_currency product.price %></p>
				<p>
					<a href="#" data-toggle="modal" data-target="#myModal<%= product.id %>">
						<span class="gylphicon glyphicon-plus"></span> Quick Info</a>
				</p>
			</div>
		</div>
	<% end %>
</div>
		
<!-- Button trigger modal -->
<!-- <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
 --><!--   Launch demo modal
</button> -->

<!-- Modal -->
<% @products.each do |product| %>
<div class="modal fade" id="myModal<%= product.id %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel"><%= product.name %></h4>
      </div>
      <div class="modal-body">
        <%  if product.image.nil? == false %>
        	<p><%= image_tag product.image, size: 150 %></p>
        <% end %>
	        <p>Made by: <%= product.brand %></p>
	        <P>Rating <%=product.rating %></P>
	        <p>Category: <%=product.category.name %>
	        <p>Description: <%=product.description %></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<% end %>